
svg:hover {
    cursor: pointer;
}
tr:hover {
    background-color: #c85858;
    color: hsl(0, 0%, 100%);
}
.layout {
    position: relative;
    height: 100vh;

    &.layout-login {
        background-image: url('http://s6.realtime.vn:8082/crm/layout/assets/img/bg.jpeg?fbclid=IwAR2FZ6pwuacbnAahkDONVFa4kzBk34ELGVkHEDTuvUq2PZPrGeHpQIpY2q8');
        background-size: cover;
    }

    .main-layout {
        padding: 20px;
        overflow: auto;

        .box-tbl {
            border: 2px solid #ececec;
            border-radius: 4px;
        }

        .box-tit {
            background-color: #f7f7f7;
            border-bottom: 2px solid #ececec;
            line-height: 30px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: normal;

            .icon-tit {
                color: #1c7bd5;
                margin-right: 6px;
                font-size: 15px;
            }
        }

        .list-feature {
            line-height: 30px;
            padding: 20px 10px;

            .button-feature {
                display: inline-block;

                .btn-ft {
                    background-color: #ffffff;
                    border: 1px solid #1c7bd5;
                    color: #1c7bd5;
                    border-radius: 3px;
                    margin-right: 5px;
                    cursor: pointer;

                    &:hover {
                        background-color: #1c7bd5;
                        color: #ffffff;
                    }
                }
            }

            .search-feature {
                float: right;

                .input-search {
                    border: 2px solid #dbdcdf;
                    line-height: 14px;
                    border-radius: 3px;
                    margin-left: 4px;
                    padding: 6px 10px;
                    width: 170px;
                    outline: none;
                }

                .btn-search {
                    background-color: #24a947;
                    border: 1px solid #24a947;
                    color: #ffffff;
                    border-radius: 3px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }

            &.custom-feature {
                text-align: right;

                .search-feature {
                    float: none;
                }
            }
        }

        .tbl-custom-data {

         
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
            
            .headRow {
                background-color: #e8ecef;
            }
        
            tr {
                th, td {
                    border: 1px solid #dddada;
                    padding: 6px;
        
                    &:first-child {
                        text-align: center;
                    }
                }
        
                th {
                    text-align: left;
                }
        
                th, td {
                    &:first-child {
                        border-left: 0;
                    }
        
                    &:last-child {
                        border-right: 0;
                    }
                }
        
                .icon-tbl {
                    color: #1c7bd5;
                    margin: 0 4px;
                    cursor: pointer;
        
                    &.icon-exclamation, &.icon-trash {
                        color: #f90707;
                    }
                }
                
                span {
                    display: inline-block;
                }

                .icon-edit {
                    color: #007bff;
                    font-size: 16px;
                    cursor: pointer;
                }
                .icon-add{

                    color: #f80909;
                    font-size: 16px;
                    cursor: pointer;
                }
                .icon-sub {

                    color: #000000;
                }
            }
        }

        .totalTable {
            padding: 10px;
            font-weight: bold;
        }
    }

    .model {
        .header-model {
            line-height: 30px;
            font-size: 22px;
            padding: 14px 0;
            border-bottom: 1px solid #ececec;
        }
        
        .main-model {
            max-height: max-content;
            

            .form-login {
                margin: 20px 0;
            }
        }

        .footer-model {
            border-top: 1px solid #ececec;
            text-align: right;
            padding-top: 15px;

            .btn-model {
                background-color: #ffffff;
                border: 1px solid #1c7bd5;
                border-radius: 3px;
                color: #1c7bd5;
                padding: 10px 14px;
                cursor: pointer;

                &:hover{
                    background-color: #1c7bd5;
                    color: #ffffff;
                }

                &.btn-closes {
                    border-color: #f80909;
                    color: #f80909;
                    margin-left: 10px;

                    &:hover{
                        background-color: #f80909;
                        color: #ffffff;
                    }
                }
            }
        }
    }


}

.inputAssignee{
    text-align: center;

    max-width: 60px;
    input {
        text-align: center;
    }

}

.align_center{
    text-align: center;
    justify-content: center;
}
.assigneetr {

    width: auto;
}

.navAssignee {

    margin: 10px 0px;
    button {
       margin-right: 10px;
    }
}

.statusName {
    color: #24a947;
    background-color: #dbdcdf;
}
.packageList{
    display: flex;
    width: 100%;
}

.btnTab{
    margin-right: 10px;
    color: black;
    background: #ffffff;
    button{
        border: none;
        outline: none;
        border:none;
        font-weight: bold !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
  .actvie a{
        color:red !important;
        font-weight: bold !important;
    }
    .actvie {
        background-color: #24a947;
        color: #ffffff !important;

    }


    p{
        display: inline-block;
        color: blue;
    }
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.red {
    background-color: rgba(249, 70, 70, 0.825) !important;
    color: #ffffff;
    a {
        color: #ffffff !important;
    }
    
}
.green {
    background-color: green !important;
    color: #ffffff;
    a {
        color: #ffffff !important;
    }
}
.greenBlude{
    background-color: blue !important;
    color: #ffffff;
    a {
        color: #ffffff !important;
    }
}

.blue {
    background-color: #008000 !important;
    color: #ffffff;
}

.yellow {
    background-color: rgb(247, 247, 133) !important;
    color: black;
    a {
        color: black !important;
    }
}
.black {
    background-color: rgba(0, 0, 0, 0.826) !important;
    color: #ffffff;
    a {
        color: #ffffff !important;
    }

}

.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .button:active {
    border: 1px solid black;
  }

  .button1 {background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */
  .button5 {background-color: #555555;} /* Black */;
  
  .activebutton {
    padding: 15px;
    outline: red;
    border: solid 1px green;
  }


  .button:hover {
    background-color: #4CAF50;
    color: white;
  }
  .checkSucess{
    width: 20px;
    height: 20px;
  }

 .checkError{
    width: 20px;
    height: 20px;
  }